<<<<<<< HEAD
.row.blank-state-parent-container
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  .section-container.section-welcome{ class: "#{ 'section-admin-welcome' if current_user.admin? }" }
    .container.section-body
=======
  .col-md-6.section-container
<<<<<<< HEAD
<<<<<<< HEAD
    .section-body.section-welcome
>>>>>>> Add standard user welcome page
=======
    .section-body.section-welcome{ class: "#{ 'section-admin-welcome' if current_user.admin? }" }
>>>>>>> Make admin welcome page have extra offset margin
=======
    .container.section-body.section-welcome{ class: "#{ 'section-admin-welcome' if current_user.admin? }" }
>>>>>>> Add missing `container` class
=======
- admin_without_ee_license = !current_license && current_user.admin?

.row.blank-state-parent-container{ class: "#{ 'has-start-trial-container' if admin_without_ee_license }" }
  .section-container.section-welcome{ class: "#{ 'col-md-6' if admin_without_ee_license }" }
    .container.section-body
>>>>>>> Remove BS grid classes
      .blank-state.blank-state-welcome
        %h2.blank-state-welcome-title
          Welcome to GitLab
        %p.blank-state-text
          Code, test, and deploy together
      - if current_user.admin?
<<<<<<< HEAD
        = render "blank_state_admin_welcome"
      - else
        = render "blank_state_welcome"
=======
  .col-md-6
    .section-body.section-welcome
      = render "blank_state_welcome"
  .col-md-6
    .section-body.section-ee-trial
      = render "blank_state_ee_trial"
>>>>>>> Move content to individual partials
=======
  - if current_user.admin?
    .col-md-6.section-container
      .section-body.section-welcome
=======
>>>>>>> Add standard user welcome page
        = render "blank_state_admin_welcome"
      - else
        = render "blank_state_welcome"
  - if admin_without_ee_license
    .col-md-6.section-container.section-ee-trial
      .container.section-body
        = render "blank_state_ee_trial"
<<<<<<< HEAD
>>>>>>> Use flags to hide/show contents
=======
>>>>>>> Make admin welcome page have extra offset margin
