.modal{ id: "revoke-modal-#{token.id}", tabindex: -1 }
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          = s_('DeployTokens|Revoke')
          %b= "#{token.name}?".html_safe
        %button.close{ type: "button", "data-dismiss": "modal", "aria-label" => _('Close') }
          %span{ "aria-hidden": true }= '&times;'.html_safe
      .modal-body
        %p
          = s_('DeployTokens|You are about to revoke')
          %b= "#{token.name}.".html_safe
          = s_('DeployTokens|This action cannot be undone.')
      .modal-footer
        %a{ href: '#', data: { dismiss: 'modal' }, class: 'btn btn-default' }= _('Cancel')
        = link_to s_('DeployTokens|Revoke %{name}') % { name: token.name }, entity.deploy_token_revoke_url_for(token), method: :put, class: 'btn btn-danger'
