- return unless can_modify_group_push_rules?(current_user, @group)

= nav_link(controller: :push_rules) do
  = link_to edit_group_push_rules_path(@group), title: _('Push Rules') do
    .nav-icon-container
      = sprite_icon('push-rules')
    %span.nav-item-name
      = _('Push Rules')
  %ul.sidebar-sub-level-items.is-fly-out-only
    = nav_link(controller: :push_rules, html_options: { class: "fly-out-top-item" } ) do
      = link_to edit_group_push_rules_path(@group), title: _('Push Rules') do
        %strong.fly-out-top-item-name
          = _('Push Rules')
