- main_path = primary_group_level_security_feature_path(@group)
- if main_path.present?
  = nav_link(path: %w[dashboard#show vulnerabilities#index compliance_dashboards#show credentials#index audit_events#index]) do
    = link_to main_path, data: { qa_selector: 'security_compliance_link' }, class: 'has-sub-items' do
      .nav-icon-container
        = sprite_icon('shield')
      %span.nav-item-name
        = _('Security & Compliance')
    %ul.sidebar-sub-level-items{ data: { qa_selector: 'group_secure_submenu' } }
      = nav_link(path: %w[dashboard#show vulnerabilities#index compliance_dashboards#show credentials#index audit_events#index], html_options: { class: "fly-out-top-item" } ) do
        %span.fly-out-top-item-container
          %strong.fly-out-top-item-name
            = _('Security & Compliance')
      %li.divider.fly-out-top-item

      - if group_level_security_dashboard_available?(@group)
        = nav_link(path: 'dashboard#show') do
          = link_to group_security_dashboard_path(@group), title: _('Security Dashboard'), data: { qa_selector: 'security_dashboard_link' } do
            %span= _('Security Dashboard')

      - if group_level_security_dashboard_available?(@group)
        = nav_link(path: 'vulnerabilities#index') do
          = link_to group_security_vulnerabilities_path(@group), title: _('Vulnerability Report'), data: { qa_selector: 'vulnerability_report_link' } do
            %span= _('Vulnerability Report')

      - if group_level_compliance_dashboard_available?(@group)
        = nav_link(path: 'compliance_dashboards#show') do
          = link_to group_security_compliance_dashboard_path(@group), title: _('Compliance') do
            %span= _('Compliance')

      - if group_level_credentials_inventory_available?(@group)
        = nav_link(path: 'credentials#index') do
          = link_to group_security_credentials_path(@group), title: _('Credentials') do
            %span= _('Credentials')

      - if group_level_audit_events_available?(@group)
        = nav_link(path: 'audit_events#index') do
          = link_to group_audit_events_path(@group), title: _('Audit Events'), data: { qa_selector: 'audit_events_settings_link' } do
            %span= _('Audit Events')

- elsif show_discover_group_security?(@group)
  = nav_link(path: group_security_discover_path(@group)) do
    = link_to group_security_discover_path(@group) do
      .nav-icon-container
        = sprite_icon('shield')
      %span.nav-item-name
        = _('Security')
