- if @group.feature_available?(:group_level_compliance_dashboard)
  = nav_link(path: 'groups/security/compliance_dashboard#show') do
    = link_to group_security_compliance_dashboard_path(@group), data: { qa_selector: 'security_dashboard_link' } do
      .nav-icon-container
        = sprite_icon('shield')
      %span.nav-item-name
        = _('Security & Compliance')
    %ul.sidebar-sub-level-items
      - if @group.feature_available?(:security_dashboard)
        = nav_link(path: 'groups/security/dashboard#show') do
          = link_to group_security_dashboard_path(@group), title: _('Security') do
            %span= _('Security')
      = nav_link(path: 'groups/security/compliance_dashboard#show') do
        = link_to group_security_compliance_dashboard_path(@group), title: _('Security') do
          %span= _('Compliance')
