- return if group.marked_for_deletion?

- date = permanent_deletion_date(Time.now.utc)
.sub-section
  %h4.danger-title= _('Remove group')
  = form_tag(group, method: :delete) do
    %p
      = _("Upon performing this action, the contents of this group, its subgroup and projects will be permanently removed after %{deletion_adjourned_period} days on <strong>%{date}</strong>. Until that time:").html_safe % { date: date, deletion_adjourned_period: deletion_adjourned_period }
    %ul
      %li= _("The group will be placed in 'pending removal' state")
      %li= _("The group can be fully restored")

    = button_to _('Remove group'), '#', class: 'btn btn-remove js-confirm-danger', data: { 'confirm-danger-message' => remove_group_message(group) }
