- return unless group.feature_available?(:group_allowed_email_domains)

- read_only = group.parent_id.present?

%h5= _('Restrict membership by email')

= f.fields_for :allowed_email_domain do |allowed_email_domain_form|
  .form-group
    - if read_only
      = allowed_email_domain_form.text_field :domain, value: group.root_ancestor_allowed_email_domain&.domain, class: 'form-control', disabled: true, placeholder: _('No value set by top-level parent group.')
      .form-text.text-muted
        = _('Email domain is not editable in subgroups. Value inherited from top-level parent group.')
    - else
      = allowed_email_domain_form.text_field :domain, class: 'form-control', placeholder: _('Enter domain')
    .form-text.text-muted
      - read_more_link = link_to(_('Read more'), help_page_path('user/group/index', anchor: 'allowed-domain-restriction-premium-only'))
      = _('Only users with an email address in this domain can be added to the group.<br>Example: <code>gitlab.com</code>. Some common domains are not allowed. %{read_more_link}.').html_safe % { read_more_link: read_more_link }
