- return unless group.feature_available?(:group_ip_restriction)

- read_only = group.parent_id.present?

%h5= _('Restrict access by IP address')

.form-group
  - if read_only
    = f.text_field :ip_restriction_ranges, value: group.root_ancestor&.ip_restriction_ranges, class: 'form-control', disabled: true, placeholder: _('No value set by top-level parent group.')
    .form-text.text-muted
      = _('IP address restriction is not editable in subgroups. Value inherited from top-level parent group.')
  - else
    = f.text_field :ip_restriction_ranges, class: 'form-control', data: { qa_selector: 'ip_restriction_field' }, placeholder: _('Enter IP address range')
  .form-text.text-muted
    - read_more_link = link_to(_('Read more'), help_page_path('user/group/index', anchor: 'ip-access-restriction-ultimate'))
    = _('This group, including all subgroups, projects and git repositories, will only be reachable from the specified IP address range. Multiple addresses are supported with comma delimiters. Example: <code>192.168.0.0/24,192.168.1.0/24</code>. %{read_more_link}.').html_safe % { read_more_link: read_more_link }
