- return unless group.marked_for_deletion?
- date = permanent_deletion_date(group.marked_for_deletion_on)

.sub-section
  %h4.warning-title= _('Restore group')
  %p
    %strong= _('This group has been scheduled for permanent removal on %{date}') %{ date: date }
  %p
    = _("Restoring the group will prevent the group, its subgroups and projects from being removed on this date.")
    = form_tag(group_restore_path(group), method: :post) do
      = button_to _('Restore group'), '#', class: "gl-button btn btn-default"
