-# WARNING! This file is slated to be removed along with the `combined_menu`
-# feature flag. The logic here will be migrated to an upcoming `top_nav_helper`.
-# Please see [this MR][1] for more context.
-# [1]: https://gitlab.com/gitlab-org/gitlab/-/merge_requests/56587
- if dashboard_nav_link?(:environments)
  = link_to operations_environments_path, class: 'dropdown-item', data: { qa_selector: 'environment_link' } do
    = _('Environments')
- if dashboard_nav_link?(:operations)
  = link_to operations_path, class: 'dropdown-item', data: { qa_selector: 'operations_link' } do
    = _('Operations')
- if dashboard_nav_link?(:security)
  = link_to security_dashboard_path, class: 'dropdown-item', data: { qa_selector: 'security_link' } do
    = _('Security')
