- page_title s_('AdminArea|Users statistics')

%h3
  = s_('AdminArea|Users statistics')
%table.table
  %tr
    %td
      = s_('AdminArea|Users total')
    %td
      = User.count

  - if @roles_count
    - @roles_count.each do |row|
      %tr
        %td
          = s_('AdminArea|Users with highest role')
          %strong
            = row['kind']
        %td
          = row['amount']
