- page_title s_('AdminArea|Users statistics')

%h3
  = s_('AdminArea|Users statistics')
%table.table
  %tr
    %td
      = s_('AdminArea|Users total')
    %td
      = User.count

  - if @roles_count
    - @roles_count.each do |row|
      %tr
        %td
          = s_('AdminArea|Users with highest role')
          %strong
            = row['kind']
          - if row['kind'] == 'guest' && License.current&.exclude_guests_from_active_count?
            %span.has-tooltip{ data: { container: 'body' }, title: s_('AdminArea|Included Free in license') }
              = sprite_icon('question', size: 16)
        %td
          = row['amount']
