- if @merge_requests.present?
  .compliance-dashboard
    %header.my-3
      %h4= _("Compliance Dashboard")
      %p= _("Here you will find recent merge request activity")
    %ul.content-list.issuable-list.issues-list
      = render partial: 'merge_request', collection: @merge_requests

  = paginate_without_count @merge_requests

- else
  = render 'empty_state'
