%li.merge-request{ id: dom_id(merge_request), data: { id: merge_request.id } }
  .issuable-info-container
    .issuable-main-info
      .title
        = link_to merge_request.title, merge_request_path(merge_request)
      %span.gl-text-gray-700
        = issuable_reference(merge_request)

    .issuable-meta
      %ul.controls
        - if merge_request.approved_by_users.any?
          = render 'approvers', project: merge_request.project, merge_request: merge_request
        - else
          %li.issuable-status
            %span.gl-text-gray-700
              = _('No approvers')
      %span.gl-text-gray-700
        = _('merged %{time_ago}').html_safe % { time_ago: time_ago_with_tooltip(merge_request.merged_at, placement: 'bottom', html_class: 'merge_request_updated_ago') }
