- @content_class = "limit-container-width" unless fluid_layout
- page_title _("Tracing")

.border-top
  .row.empty-state
    .col-12
      .svg-content
        = image_tag 'illustrations/monitoring/tracing.svg', style: 'max-height: 254px'

    .col-12
      .text-content
        %h4.text-left= _('Troubleshoot and monitor your application with tracing')
        %p
          - jaeger_help_url = "https://www.jaegertracing.io/docs/1.7/getting-started/"
          - link_start_tag = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: jaeger_help_url }
          - link_end_tag = "#{sprite_icon('external-link', size: 16, css_class: 'ml-1 vertical-align-middle')}</a>".html_safe
          = _('To get started, link this page to your Jaeger server, or find out how to %{link_start_tag}install Jaeger%{link_end_tag}').html_safe % { link_start_tag: link_start_tag, link_end_tag: link_end_tag }

        .text-center
          = render 'tracing_button'
