- if can?(current_user, :read_operations_dashboard)
  %li.dropdown
    %button.btn-link{ type: 'button', data: { toggle: 'dropdown' } }
      = sprite_icon('dashboard', size: 18)
    .dropdown-menu
      = link_to operations_path, class: 'dropdown-item', title: _('Environments'), aria: { label: _('Environments') } do
        = _('Environments')
      - if can?(current_user, :read_operations_dashboard)
        = link_to operations_path, class: 'dropdown-item', title: _('Operations'), aria: { label: _('Operations') } do
          = _('Operations')
