%header.jira-connect-header
  = brand_header_logo

.jira-connect-user
  - if current_user
    - user_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: user_path(current_user) }
    = _('Signed in to GitLab as %{user_link_start}%{username}%{user_link_end}').html_safe % { user_link_start: user_link_start, username: current_user.to_reference, user_link_end: '</a>'.html_safe }
  - elsif @subscriptions.present?
    = link_to _('Sign in to GitLab'), jira_connect_users_path, target: '_blank', rel: 'noopener noreferrer'

.jira-connect-app
  %h1
    GitLab for Jira Configuration

  - if current_user.blank? && @subscriptions.empty?
    %h2.heading-with-border Sign in to GitLab.com to get started.

    .gl-mt-5
      = external_link _('Sign in to GitLab'), jira_connect_users_path, class: 'ak-button ak-button__appearance-primary'

    .gl-mt-5
      %p Note: this integration only works with accounts on GitLab.com (SaaS).
  - else
    %form#add-subscription-form.subscription-form{ action: jira_connect_subscriptions_path }
      .ak-field-group
        %label
          Namespace

      .ak-field-group.field-group-input
        %input#namespace-input.ak-field-text{ type: 'text', required: true }
        %button.ak-button.ak-button__appearance-primary{ type: 'submit' }
          Link namespace to Jira

    %table.subscriptions
      %thead
        %tr
          %th Namespace
          %th Added
          %th
      %tbody
        - @subscriptions.each do |subscription|
          %tr
            %td= subscription.namespace.full_path
            %td= subscription.created_at
            %td= link_to 'Remove', jira_connect_subscription_path(subscription), class: 'remove-subscription'

%p
  %strong Browser limitations:
  Adding a namespace currently works only in browsers that allow cross site cookies. Please make sure to use
  %a{ href: 'https://www.mozilla.org/en-US/firefox/', target: '_blank', rel: 'noopener noreferrer' } Firefox
  or
  %a{ href: 'https://www.google.com/chrome/index.html', target: '_blank', rel: 'noopener noreferrer' } Google Chrome
  or enable cross-site cookies in your browser when adding a namespace.
  %a{ href: 'https://gitlab.com/gitlab-org/gitlab/-/issues/263509', target: '_blank', rel: 'noopener noreferrer' } Learn more

= page_specific_javascript_tag('jira_connect.js')
- add_page_specific_style 'page_bundles/jira_connect'
