- page_title _('Preferences')
- @content_class = "limit-container-width" unless fluid_layout
- user_theme_id = Gitlab::Themes.for_user(@user).id
- user_fields = { layout: @user.layout, dashboard: @user.dashboard, project_view: @user.project_view, render_whitespace_in_code: @user.render_whitespace_in_code, show_whitespace_in_diffs: @user.show_whitespace_in_diffs, view_diffs_file_by_file: @user.view_diffs_file_by_file, tab_width: @user.tab_width, first_day_of_week: @user.first_day_of_week, preferred_language: @user.preferred_language, group_view: @user.group_view, time_format_in_24h: @user.time_format_in_24h, time_display_relative: @user.time_display_relative, gitpod_enabled: @user.gitpod_enabled, sourcegraph_enabled: @user.sourcegraph_enabled }
- data_attributes = { themes: @themes, schemes: @schemes, layout_choices: layout_choices.to_json, dashboard_choices: dashboard_choices, project_view_choices: project_view_choices.to_json,language_choices: language_choices, first_day_of_week_choices_with_default: first_day_of_week_choices_with_default.to_json, group_view_choices: group_view_choices.to_json, integration_views: integration_views.to_json, profile_preferences_path: profile_preferences_path, user_fields: user_fields.to_json }

- Gitlab::Themes.each do |theme|
  = stylesheet_link_tag "themes/#{theme.css_filename}" if theme.css_filename

= form_for @user, url: profile_preferences_path, remote: true, method: :put do |f|
  .row.gl-mt-3.js-preferences-form
    .col-lg-4.application-theme#navigation-theme
      %h4.gl-mt-0
        = s_('Preferences|Navigation theme')
      %p
        = s_('Preferences|Customize the appearance of the application header and navigation sidebar.')
    .col-lg-8.application-theme
      .row
        - Gitlab::Themes.each do |theme|
          %label.col-6.col-sm-4.col-md-3.gl-mb-5.gl-text-center
            .preview{ class: theme.css_class }
            = f.radio_button :theme_id, theme.id, checked: user_theme_id == theme.id
            = theme.name

    .col-sm-12
      %hr

    .col-lg-4.profile-settings-sidebar#syntax-highlighting-theme
      %h4.gl-mt-0
        = s_('Preferences|Syntax highlighting theme')
      %p
        = s_('Preferences|This setting allows you to customize the appearance of the syntax.')
        = succeed '.' do
          = link_to _('Learn more'), help_page_path('user/profile/preferences', anchor: 'syntax-highlighting-theme'), target: '_blank'
    .col-lg-8.syntax-theme
      - Gitlab::ColorSchemes.each do |scheme|
        = label_tag do
          .preview= image_tag "#{scheme.css_class}-scheme-preview.png"
          = f.radio_button :color_scheme_id, scheme.id
          = scheme.name

  #js-profile-preferences-app{ data: data_attributes, user_fields: user_fields.to_json }

  .row.gl-mt-3.js-preferences-form
    .col-lg-4.profile-settings-sidebar
    .col-lg-8
      .form-group
        = f.submit _('Save changes'), class: 'gl-button btn btn-success'
