- page_title _('Feature Flags')

= render 'configure_feature_flags_modal'

- if Feature.enabled?(:operations_feature_flag_index_tab, default_enabled: true)
  %h3.page-title.with-button
    = _('Feature Flags')

    .pull-right
      = render 'configure_feature_flags_button'
      = render 'new_feature_flag_button'

  %div
    #feature-flags-vue{ data: { endpoint: project_feature_flags_path(@project, format: :json),
      "error-state-svg-path" => image_path('illustrations/feature_flag.svg'),
      "feature-flags-help-page-path" => help_page_path("user/project/operations/feature_flags") } }
- else
  - if @feature_flags.empty?
    = render 'empty_state'
  - else
    %h3.page-title.with-button
      = _('Feature Flags')

      .pull-right
        = render 'configure_feature_flags_button'
        = render 'new_feature_flag_button'

    = render 'table'
