.settings-content
  = form_for @application_setting, url: ci_cd_admin_application_settings_path(anchor: 'js-package-settings'), html: { class: 'fieldset-form' } do |f|
    = form_errors(@application_setting)

    %fieldset
      .form-group
        .form-check
          = f.check_box :npm_package_requests_forwarding, class: 'form-check-input'
          = f.label :npm_package_requests_forwarding, class: 'form-check-label' do
            Enable forwarding of npm package requests to npmjs.org
            .form-text.text-muted
              = _("When enabled, if an npm package isn't found in the GitLab Registry, we will attempt to pull from the global npm registry.")

    = f.submit _('Save changes'), class: 'btn gl-button btn-confirm'
