- if Feature.enabled?(:forward_npm_package_registry_requests) && Gitlab.config.packages.enabled
  %section.settings.as-package.no-animate#js-package-settings{ class: ('expanded' if expanded_by_default?) }
    .settings-header
      %h4
        = _('Package Registry')
      %button.btn.btn-default.js-settings-toggle{ type: 'button' }
        = expanded_by_default? ? _('Collapse') : _('Expand')
      %p
        = _("Settings related to the use and experience of using GitLab's Package Registry.")
    .settings-content
      = form_for @application_setting, url: ci_cd_admin_application_settings_path(anchor: 'js-package-settings'), html: { class: 'fieldset-form' } do |f|
        = form_errors(@application_setting)

        %fieldset
          .form-group
            .form-check
              = f.check_box :npm_package_requests_forwarding, class: 'form-check-input'
              = f.label :npm_package_requests_forwarding, class: 'form-check-label' do
                Enable forwarding of NPM package requests to npmjs.org
                .form-text.text-muted
                  = _("When enabled, if an NPM package isn't found in the GitLab Registry, we will attempt to pull from the global NPM registry.")

        = f.submit _('Save changes'), class: "btn btn-success"
