= form_errors(@group)
= render 'shared/group_form', f: f, autofocus: true

.row
  .form-group.col-sm-4
    = render partial: 'shared/groups/visibility_level', locals: { f: f, visibility_level: default_group_visibility }

    = render 'create_chat_team', f: f if Gitlab.config.mattermost.enabled

  .form-actions.col-sm-12
    = f.submit _('Create group'), class: "btn btn-success"
    = link_to _('Cancel'), dashboard_groups_path, class: 'btn btn-cancel'
