- beginner_link_url = 'https://about.gitlab.com/blog/2018/01/22/a-beginners-guide-to-continuous-integration/'
- beginner_link_start = '<a href="%{url}" target="_blank">'.html_safe % { url: beginner_link_url }
- example_link_url = 'https://docs.gitlab.com/ee/ci/examples/'
- example_link_start = '<a href="%{url}" target="_blank">'.html_safe % { url: example_link_url }

.modal.js-success-pipeline-modal{ 'data-commit-cookie': suggest_pipeline_commit_cookie_name, tabindex: -1 }
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          = _("That's it, well done!")
          = emoji_icon('tada')
        %button.close{ type: "button", "data-dismiss": "modal", "aria-label" => _('Close') }
          %span.vertical-align-middle{ "aria-hidden": true }= sprite_icon("close", size: 16)
      .modal-body
        %p
          = _('The pipeline will now run automatically every time you commit code.<br />Pipelines are useful for deploying static web pages, detecting<br />vulnerabilities in dependencies, static or dynamic application security<br />testing (SAST and DAST), and so much more!').html_safe
        %span
          = _("Take a look at our %{beginner_link_start}Beginner's Guide to Continuous Integration%{link_end} and our<br />%{example_link_start}examples of GitLab CI/CD%{link_end} to see all the cool stuff you can do with it.").html_safe % { beginner_link_start: beginner_link_start, link_end: '</a>'.html_safe, example_link_start: example_link_start }
      .modal-footer
        = link_to _('Go to Pipelines'), project_pipelines_path(@project), class: 'btn btn-success'
