- group = local_assigns.fetch(:group)
- type = local_assigns.fetch(:type)

%aside.issues-bulk-update.js-right-sidebar.right-sidebar{ 'aria-live' => 'polite', data: { 'signed-in': current_user.present? } }
  .issuable-sidebar.hidden
    = form_tag [:bulk_update, group, type], method: :post, class: "bulk-update" do
      .block.issuable-sidebar-header
        .filter-item.inline.update-issues-btn.float-left
          = button_tag _('Update all'), class: "btn update-selected-issues btn-info", disabled: true
        = button_tag _('Cancel'), class: "btn btn-default js-bulk-update-menu-hide float-right"
      .block
        .title
          = _('Milestone')
        .filter-item
          = dropdown_tag(_('Select milestone'), options: { title: _('Assign milestone'), toggle_class: 'js-milestone-select js-extra-options js-filter-submit js-filter-bulk-update', filter: true, dropdown_class: 'dropdown-menu-selectable dropdown-menu-milestone', placeholder: _('Search milestones'), data: { show_no: true, field_name: 'update[milestone_id]', milestones: milestones_filter_path(only_group_milestones: true, format: :json), use_id: true, default_label: _('Milestone') } })

      = hidden_field_tag 'update[issuable_ids]', []
      = hidden_field_tag :state_event, params[:state_event]
