- return unless project.feature_available?(:marking_project_for_deletion)

- date = permanent_deletion_date(project.marked_for_deletion_at)
.sub-section
  %h4.danger-title= _('Restore project')
  %p
    %strong= _('This project will be removed on %{date}') %{ date: date }
  %p
    = _("Restoring the project will prevent the project from being removed on this date and restore people's ability to make changes to it.")
    = _("The repository can be commited to, and issues, comments and other entities can be created.")
    %strong= _('Only active this projects shows up in the search and on the dashboard.')
  = link_to _('Restore project'), namespace_project_restore_path(project.namespace, project),
      method: :post, class: "btn btn-remove"
