- if Gitlab::Geo.secondary?
  #modal-geo-info.modal.in{ tabindex: '-1' }
    .modal-dialog
      .modal-content
        .modal-header
          %h3.page-title
            How to work faster with Geo
          %a.close{ href: "#", "data-dismiss" => "modal" } ×
        .modal-body
          %p
            %strong= 'Step 1.'
            Clone the repository from your secondary node:
          - if project.ssh_url_to_repo.present?
            %p
              %strong= 'SSH'
            .form-group
              .input-group
                %input#geo-info-1-ssh.form-control{ value: "git clone " + project.ssh_url_to_repo, readonly: "readonly" }
                .input-group-append
                  = clipboard_button(target: '#geo-info-1-ssh', class: "btn-default", container: "#modal-geo-info")
          - if project.http_url_to_repo.present?
            %p
              %strong= 'HTTP'
            .form-group
              .input-group
                %input#geo-info-1-http.form-control{ value: "git clone " + project.http_url_to_repo, readonly: "readonly" }
                .input-group-append
                  = clipboard_button(target: '#geo-info-1-http', class: "btn-default", container: "#modal-geo-info")
          - if alternative_kerberos_url?
            %p
              %strong= 'Kerberos'
            .form-group
              .input-group
                %input#geo-info-1-kerberos.form-control{ value: "git clone " + project.kerberos_url_to_repo, readonly: "readonly" }
                .input-group-append
                  = clipboard_button(target: '#geo-info-1-kerberos', class: "btn-default", container: "#modal-geo-info")
          %p
            %strong= 'Step 2.'
            Go to the new directory and define
            %strong= "primary node's"
            repository URL as the
            %strong= 'push'
            remote:
          - if geo_primary_ssh_url_to_repo(project).present? or geo_primary_http_url_to_repo(project).present?
            - if geo_primary_ssh_url_to_repo(project).present?
              %p
                %strong= 'SSH'
              .form-group
                .input-group
                  %input#geo-info-2-ssh.form-control{ value: "git remote set-url --push origin " + geo_primary_ssh_url_to_repo(project), readonly: "readonly" }
                  .input-group-append
                    = clipboard_button(target: '#geo-info-2-ssh', class: "btn-default", container: "#modal-geo-info")
            - if geo_primary_http_url_to_repo(project).present?
              %p
                %strong= 'HTTP'
              .form-group
                .input-group
                  %input#geo-info-2-http.form-control{ value: "git remote set-url --push origin " + geo_primary_http_url_to_repo(project), readonly: "readonly" }
                  .input-group-append
                    = clipboard_button(target: '#geo-info-2-http', class: "btn-default", container: "#modal-geo-info")
          - else
            .form-group
              .input-group
                %input#geo-info-2.form-control{ value: "git remote set-url --push origin &lt;clone url for primary repository&gt;", readonly: "readonly" }
                .input-group-append
                  = clipboard_button(target: '#geo-info-2', class: "btn-default", container: "#modal-geo-info")
          %p
            %strong= 'Done.'
            You can now commit and push code as you normally do, but with increased speed.
