- breadcrumb_title _("Elasticsearch settings")
- page_title _("Settings")

%h3.page-title
  = _('Settings')

%hr.clearfix

= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form', id: 'js-elasticsearch-settings' } do |f|
  = form_errors(@application_setting)

  .form-group
    .form-check
      = f.check_box :elasticsearch_search, class: 'form-check-input', data: { qa_selector: 'search_checkbox' }
      = f.label :elasticsearch_search, class: 'form-check-label' do
        = _('Advanced Global Search enabled')

  .form-group
    .form-check
      = f.check_box :elasticsearch_limit_indexing, class: 'form-check-input js-limit-checkbox'
      = f.label :elasticsearch_limit_indexing, class: 'form-check-label' do
        = _('Limit namespaces and projects that can be indexed')

  .form-group.js-limit-namespaces{ class: ('hidden' unless @application_setting.elasticsearch_limit_indexing) }
    = f.label :elasticsearch_namespace_ids, _('Namespaces to index'), class: 'label-bold'
    = f.text_field :elasticsearch_namespace_ids, class: 'js-elasticsearch-namespaces input-lg', value: elasticsearch_namespace_ids, data: { selected: elasticsearch_objects_options(@application_setting.elasticsearch_limited_namespaces(true)).to_json }

  .form-group.js-limit-projects{ class: ('hidden' unless @application_setting.elasticsearch_limit_indexing) }
    = f.label :elasticsearch_project_ids, _('Projects to index'), class: 'label-bold'
    = f.text_field :elasticsearch_project_ids, class: 'js-elasticsearch-projects input-lg', value: elasticsearch_project_ids, data: { selected: elasticsearch_objects_options(@application_setting.elasticsearch_limited_projects(true)).to_json }

  = submit_tag 'Save changes', class: 'btn btn-success', data: { qa_selector: 'submit_button' }
