- if @group.ldap_sync_started?
  %span.btn.gl-button.disabled
    = sprite_icon("retry", css_class: 'spin gl-mr-2')
    = _('Syncing…')
- elsif @group.ldap_sync_pending?
  %span.btn.gl-button.disabled
    = sprite_icon("retry", css_class: 'spin gl-mr-2')
    = _('Pending sync…')
- else
  %button.js-ldap-sync-now-button.btn.btn-default.gl-button.qa-sync-now-button{ data: ldap_sync_now_button_data(@group) }
    = sprite_icon("retry", css_class: "gl-mr-2")
    = _('Sync now')
- if @group.ldap_sync_ready? && @group.ldap_sync_last_successful_update_at
  %p.inline.gl-ml-3
    = _('Successfully synced %{synced_timeago}.').html_safe % { synced_timeago: time_ago_with_tooltip(@group.ldap_sync_last_successful_update_at) }
