- if credentials_inventory_feature_available?
  = nav_link(controller: :credentials) do
    = link_to admin_credentials_path do
      .nav-icon-container
        = sprite_icon('lock')
      %span.nav-item-name
        = _('Credentials')
    %ul.sidebar-sub-level-items.is-fly-out-only
      = nav_link(controller: :credentials, html_options: { class: "fly-out-top-item" } ) do
        = link_to admin_credentials_path do
          %strong.fly-out-top-item-name
            = _('Credentials')
