= nav_link(controller: navbar_controller_path) do
  = link_to navbar_item_path, class: "qa-link-license-menu" do
    .nav-icon-container
      = sprite_icon('license')
    %span.nav-item-name
      = navbar_item_name
  %ul.sidebar-sub-level-items.is-fly-out-only
    = nav_link(controller: controller, html_options: { class: "fly-out-top-item" } ) do
      = link_to navbar_item_path do
        %strong.fly-out-top-item-name
          = navbar_item_name
