= nav_link(path: 'profiles#pipeline_quota') do
  = link_to profile_pipeline_quota_path do
    .nav-icon-container
      = custom_icon('pipeline')
    %span.nav-item-name
      = _('Pipeline quota')
  %ul.sidebar-sub-level-items.is-fly-out-only
    = nav_link(path: 'profiles#pipeline_quota', html_options: { class: "fly-out-top-item" } ) do
      = link_to profile_pipeline_quota_path do
        %strong.fly-out-top-item-name
          = _('Pipeline quota')
