%aside.nav-sidebar{ class: ("sidebar-collapsed-desktop" if collapsed_sidebar?), 'aria-label': _('Security navigation') }
  .nav-sidebar-inner-scroll
    .context-header
      = link_to security_dashboard_path, title: _('Security Dashboard'), id: 'logo' do
        %span{ class: ['avatar-container', 'rect-avatar', 'settings-avatar', 's32'] }
          = brand_header_logo
        %span.sidebar-context-title
          = _('Security')
    %ul.sidebar-top-level-items
      = nav_link(path: %w[dashboard#show]) do
        = link_to security_dashboard_path, class: 'shortcuts-project rspec-project-link' do
          .nav-icon-container
            = sprite_icon('dashboard')
          %span.nav-item-name
            = _('Security Dashboard')
        %ul.sidebar-sub-level-items.is-fly-out-only
          = nav_link(path: %w[dashboard#show], html_options: { class: "fly-out-top-item" } ) do
            %span.fly-out-top-item-container
              %strong.fly-out-top-item-name
                = _('Security Dashboard')

      = nav_link(path: %w[vulnerabilities#index]) do
        = link_to security_vulnerabilities_path, class: 'shortcuts-project rspec-project-link' do
          .nav-icon-container
            = sprite_icon('list-bulleted')
          %span.nav-item-name
            = _('Vulnerability Report')
        %ul.sidebar-sub-level-items.is-fly-out-only
          = nav_link(path: %w[vulnerabilities#index], html_options: { class: "fly-out-top-item" } ) do
            %span.fly-out-top-item-container
              %strong.fly-out-top-item-name
                = _('Vulnerability Report')

      = nav_link(path: %w[dashboard#settings]) do
        = link_to settings_security_dashboard_path, class: 'shortcuts-project rspec-project-link' do
          .nav-icon-container
            = sprite_icon('settings')
          %span.nav-item-name
            = _('Settings')
        %ul.sidebar-sub-level-items.is-fly-out-only
          = nav_link(path: %w[dashboard#settings], html_options: { class: "fly-out-top-item" } ) do
            %span.fly-out-top-item-container
              %strong.fly-out-top-item-name
                = _('Settings')

    = render 'shared/sidebar_toggle_button'
