= content_for :sub_nav do
  .scrolling-tabs-container.sub-nav-scroll
    = render 'shared/nav_scroll'
    .nav-links.sub-nav.scrolling-tabs
      %ul{ class: (container_class) }
        = nav_link(path: 'projects#show') do
          = link_to project_path(@project), title: 'Project Home', class: 'shortcuts-project' do
            %span
              Home

        = nav_link(path: 'projects#activity') do
          = link_to activity_project_path(@project), title: 'Activity', class: 'shortcuts-project-activity' do
            %span
              Activity

        - if !@project.empty_repo?
          = nav_link(path: 'graphs#show') do
            = link_to namespace_project_graph_path(@project.namespace, @project, current_ref), title: 'Contributors',  class: 'shortcuts-project-contributors' do
              %span
                Contributors

        - if can?(current_user, :read_cycle_analytics, @project)
          = nav_link(path: 'cycle_analytics#show') do
            = link_to project_cycle_analytics_path(@project), title: 'Cycle Analytics', class: 'shortcuts-project-cycle-analytics' do
              %span
                Cycle Analytics
