%div{ class: 'search-result-row gl-pb-3! gl-mt-5 gl-mb-0!' }
  %span.gl-display-flex.gl-align-items-center
    - if epic.closed?
      %span.badge.badge-info.badge-pill.gl-badge.sm= _("Closed")
    - else
      %span.badge.badge-success.badge-pill.gl-badge.sm= _("Open")
    = sprite_icon('eye-slash', css_class: 'gl-text-gray-500 gl-ml-2') if epic.confidential?
    = link_to group_epic_path(epic.group, epic), data: { track_event: 'click_text', track_label: 'epic_title', track_property: 'search_result' }, class: 'gl-w-full' do
      %span.term.str-truncated.gl-font-weight-bold.gl-ml-2= epic.title
  .gl-text-gray-500.gl-my-3
    = sprintf(s_('%{group_name}&%{epic_iid} &middot; created %{epic_created} by %{author}'), { group_name: epic.group.full_name, epic_iid: epic.iid, epic_created: time_ago_with_tooltip(epic.created_at, placement: 'bottom'), author: link_to_member(@project, epic.author, avatar: false) }).html_safe
    &middot;
    = _('updated %{time_ago}').html_safe % { time_ago: time_ago_with_tooltip(epic.updated_at, placement: 'bottom') }
  - if epic.description.present?
    .description.term.col-sm-10.gl-px-0
      = truncate(epic.description, length: 200)
