.gl-responsive-table-row{ role: 'row', data: { qa_selector: 'credentials_personal_access_token_row_content' } }
  .table-section.section-25
    .table-mobile-header{ role: 'rowheader' }
      = _('Owner')
    .table-mobile-content
      = render 'admin/users/user_detail', user: personal_access_token.user
  .table-section.section-30
    .table-mobile-header{ role: 'rowheader' }
      = _('Scope')
    .table-mobile-content
      - scopes = personal_access_token.scopes
      = scopes.present? ? scopes.join(", ") : _('No Scopes')
  .table-section.section-10
    .table-mobile-header{ role: 'rowheader' }
      = _('Created On')
    .table-mobile-content
      = personal_access_token.created_at.to_date
  .table-section.section-10
    .table-mobile-header{ role: 'rowheader' }
      = _('Expiration')
    .table-mobile-content
      - if personal_access_token.expires?
        = personal_access_token.expires_at
      - else
        = _('Never')
