- page_title s_('InviteMember|Invite teammates to your GitLab group')

- if in_trial_during_signup_flow? || in_trial_onboarding_flow?
  = render 'registrations/trial_is_activated_banner'
.row.gl-flex-grow-1
  .gl-display-flex.gl-flex-direction-column.gl-align-items-center.gl-w-full.p-3.gl-bg-gray-10
    .group-invites.gl-display-flex.gl-flex-direction-column.gl-align-items-center.pt-5
      #progress-bar
      %h2.gl-text-center= s_('InviteMember|Invite your teammates')
      %p.gl-text-center= s_('InviteMember|Invite users to your group %{group_name} so you can collaborate on your projects') % { group_name: @group.name }
      .js-invite-group-members{ data: { emails: params.dig(:group, :emails) || [],
         docs_path: help_page_path('user/permissions'),
         endpoint: users_sign_up_group_invites_path(group_id: @group.id, trial: params[:trial], trial_onboarding_flow: params[:trial_onboarding_flow])} }
      = link_to s_('InviteMember|Skip this for now'), new_users_sign_up_project_path(namespace_id: @group.id, trial: params[:trial], trial_onboarding_flow: params[:trial_onboarding_flow], hide_trial_activation_banner: true), class: "gl-mt-7"
      %p.gl-mt-3= s_("InviteMember|Don't worry, you can always invite teammates later")

