- return unless merge_pipelines_available?

.form-check.builds-feature
  = form.check_box :merge_pipelines_enabled, class: 'form-check-input js-merge-options-merge-pipelines', data: { qa_selector: 'merged_results_pipeline_checkbox' }
  = form.label :merge_pipelines_enabled, class: 'form-check-label' do
    = s_('ProjectSettings|Enable merged results pipelines.')
    .text-secondary.mb-2
      = s_('ProjectSettings|If pipelines for merge requests are enabled in the CI/CD configuration file, pipelines validate the combined results of the source and target branches.')
      = link_to sprite_icon('question-o'),
        help_page_path('ci/merge_request_pipelines/index.md',
        anchor: 'configuring-pipelines-for-merge-requests'),
        target: '_blank',
        rel: 'noopener noreferer'
