.row
  .col-md-6
    .gl-card.gl-mb-5
      .gl-card-header
        = _('Licensed to')
      .gl-card-body
        %ul.content-list
          - @license.licensee.each do |label, value|
            %li
              %span.light= succeed(':') { label }
              %strong= value

    .gl-card.js-license-info-panel.gl-mb-5
      .gl-card-header
        = _('Details')
      .gl-card-body
        %ul.content-list
          %li
            %span.light= _('Plan:')
            %strong{ data: { "qa-selector": "plan_name" } }= @license.plan.capitalize
            - unless @license.ultimate?
              = ' - '
              = link_to _('Contact Sales to upgrade'),
                'https://about.gitlab.com/sales/?inapplink=contactsalessm',
                class: 'inline-link',
                target: :_blank,
                rel: :noreferrer
          %li
            %span.light= _('Uploaded:')
            %strong= time_ago_with_tooltip @license.created_at
          %li
            %span.light= _('Started:')
            %strong= time_ago_with_tooltip @license.starts_at
          %li
            %span.light
              = render 'license_status'

            - if @license.expired?
              %span.badge.badge-danger.float-right
                %strong= _('Expired')
          %li
            %span.light= _('License ID:')
            %strong= @license.license_id
            = clipboard_button(text: @license.license_id, title: _("Copy ID"), class: "btn-transparent btn-clipboard")


  .col-md-6
    .gl-card.border-danger.gl-mb-5
      .gl-card-header.bg-danger.text-white
        = _('Remove license')
      .gl-card-body
        %p= _('If you remove this license, GitLab will fall back on the previous license, if any.')
        %p= _('If there is no previous license or if the previous license has expired, some GitLab functionality will be blocked until a new, valid license is uploaded.')
        %br
        = link_to _('Remove license'), admin_license_path, data: { confirm: _('Are you sure you want to remove the license?'), qa_selector: 'remove_license_link' }, method: :delete, class: 'gl-button btn btn-danger'
