- return unless local_assigns.fetch(:licenses)
- local_assigns.fetch(:license)

- licensee_keys = @licenses.first.licensee.keys

%h4= _('License History')

.card#license_history
  %table.table
    %thead.card-header
      %tr
        - licensee_keys.each do |label|
          %th= label
        %th= _('Plan')
        %th= _('Uploaded on')
        %th= _('Valid from')
        %th= _('Expires on')
        %th= _('Active users')
    %tbody
      - @licenses.each do |license|
        %tr{ class: ('gl-bg-blue-50 font-weight-bold gl-text-blue-500' if license == @license), data: { testid: ('license-current' if license == @license) } }
          - licensee_keys.each do |label|
            %td= license.licensee[label]
          %td
            %span
              = license.plan.capitalize
          %td
            %span
              = l(license.created_at, format: :with_timezone)
          %td
            %span
              = l(license.starts_at)
          %td
            %span
              = license.expires_at.present? ? l(license.expires_at) : _('Never')
          %td
            %span
              - if license.restricted?(:active_user_count)
                = license.restrictions[:active_user_count]
              - else
                = _('Unlimited')
