- page_title _('License')

= render_if_exists 'shared/qrtly_reconciliation_alert'

%h3.page-title
  = _('Your License')
  - if @license&.trial?
    = render 'upload_buy_license'
  - else
    = link_to _('Upload New License'), new_admin_license_path, class: 'gl-button btn btn-confirm float-right'

%hr

- if License.future_dated_only?
  = render 'shared/global_alert',
    title: _('You do not have an active license'),
    variant: :info,
    is_contained: true,
    dismissible: false do
    .gl-alert-body
      = _('You have a license that activates at a future date. Please see the License History table below.')

- if @license.present?
  = render 'info'
  .license-panel.gl-mt-5
    = render 'breakdown'

- if @licenses.present?
  = render 'license_history'
