%tr
  - commit = blame_group[:commit]
  %td.blame-commit{ class: age_map_class(commit.committed_date, project_duration) }
    .commit
      = author_avatar(commit, size: 36, has_tooltip: false)
      .commit-row-title
        %span.item-title.str-truncated-100
          = link_to commit.title, project_commit_path(@project, commit.id), class: "cdark", title: commit.title
        %span
          - previous_commit_id = commit.parent_id
          - if previous_commit_id
            = link_to project_blame_path(@project, tree_join(previous_commit_id, @path)),
                      title: _('View blame prior to this change'),
                      aria: { label: _('View blame prior to this change') },
                      data: { toggle: 'tooltip', placement: 'right', container: 'body' } do
              = sprite_icon
        &nbsp;
      .light
        = commit_author_link(commit, avatar: false)
        committed
        #{time_ago_with_tooltip(commit.committed_date)}
  %td.line-numbers
    - line_count = blame_group[:lines].count
    - (current_line...(current_line + line_count)).each do |i|
      %a.diff-line-num{ href: "#L#{i}", id: "L#{i}", 'data-line-number' => i }
        = link_icon
        = i
      \
  %td.lines
    %pre.code.highlight
      %code
        - blame_group[:lines].each do |line|
          #{line}
