.dropdown.gl-new-dropdown.inline.dropdown-epics-state
  %button.btn.gl-button.btn-default.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' } }
    = epic_state_title(@epics_state)
    = sprite_icon('chevron-down', css_class: 'gl-button-icon gl-icon dropdown-chevron' )
  %ul.dropdown-menu.dropdown-menu-selectable
    .gl-new-dropdown-inner
      %li
        = epic_state_dropdown_link('all', @epics_state)
      .dropdown-divider
      %li
        = epic_state_dropdown_link('opened', @epics_state)
      %li
        = epic_state_dropdown_link('closed', @epics_state)
