- if Gitlab::Auth::Ldap::Config.group_sync_enabled? && can?(current_user, :admin_ldap_group_links, @group)
  = nav_link(path: 'ldap_group_links#index') do
    = link_to group_ldap_group_links_path(@group), title: 'LDAP Group', class: 'qa-ldap-synchronization-link' do
      %span
        LDAP Synchronization

- if @group.feature_available?(:group_webhooks) || show_promotions?
  = nav_link(path: 'hooks#index') do
    = link_to group_hooks_path(@group), title: 'Webhooks' do
      %span
        Webhooks

- if @group.feature_available?(:audit_events)
  = nav_link(path: 'audit_events#index') do
    = link_to group_audit_events_path(@group), title: 'Audit Events', data: { qa_selector: 'audit_events_settings_link' } do
      %span
        Audit Events
