.tree-ref-container.gl-display-flex.gl-align-items-center
  - if Feature.enabled?(:vue_ref_dropdown, @project, default_enabled: :yaml)
    #js-ref-dropdown{ data: { refs_project_path: refs_project_path(@project), current_ref: @ref } }
  - else
    .tree-ref-holder
      = render 'shared/ref_switcher', destination: 'tree', path: @path, show_create: true

  #js-repo-breadcrumb{ data: breadcrumb_data_attributes }

.tree-controls
  .d-block.d-sm-flex.flex-wrap.align-items-start.gl-children-ml-sm-3<
    = render_if_exists 'projects/tree/lock_link'
    #js-tree-history-link{ data: { history_link: project_commits_path(@project, @ref) } }

    = render 'projects/find_file_link'
    = render 'shared/web_ide_button', blob: nil
    = render 'projects/buttons/download', project: @project, ref: @ref

    .project-clone-holder.d-none.d-md-inline-block>
      = render "projects/buttons/clone", dropdown_class: 'dropdown-menu-right'

  .project-clone-holder.d-block.d-md-none.mt-sm-2.mt-md-0.ml-sm-2>
    = render "shared/mobile_clone_panel"
