- page_title _('Cycle Analytics')

.page-title-holder.d-flex.align-items-center
  %h1.page-title= _('Cycle Analytics')

#cycle-analytics.m-0.mw-100
  .cycle-analytics-filters.mt-3.pt-2.pb-2.row-content-block.d-flex
    -# Will need to make this layout responsive
    %groups-dropdown-filter.dropdown-select{ "@set-selected-group" => "setSelectedGroup"  }
    %projects-dropdown-filter.ml-1.dropdown-select{ "v-if" => "selectedGroup", ":group-id" => "selectedGroup.id", ":key" => "selectedGroup.id", "@set-selected-project" => "setSelectedProject"}
    .ml-auto.pt-2
      %label.text-bold
        Timeframe
      %span
        Dropdown

  = render partial: 'empty_state'

  .js-cycle-analytics{ "v-show" => "selectedGroup" }
    .wrapper.mt-3
      .card
        .card-header.font-weight-bold
          {{ __('Recent Activity') }}
        .content-block
          .container-fluid
            .row
              .col-sm-4.col-12.column{ "v-for" => "item in state.summary" }
                %h3.header {{ item.value }}
                %p.text {{ item.title }}
    .stage-panel-container
      .card.stage-panel
        .card-header
          %nav.col-headers
            %ul
              %li.stage-header
                %span.stage-name
                  {{ s__('ProjectLifecycle|Stage') }}
                %i.has-tooltip.fa.fa-question-circle{ "data-placement" => "top", title: _("The phase of the development lifecycle."), "aria-hidden" => "true" }
              %li.median-header
                %span.stage-name
                  {{ __('Median') }}
                %i.has-tooltip.fa.fa-question-circle{ "data-placement" => "top", title: _("The value lying at the midpoint of a series of observed values. E.g., between 3, 5, 9, the median is 5. Between 3, 5, 7, 8, the median is (5+7)/2 = 6."), "aria-hidden" => "true" }
              %li.event-header
                %span.stage-name
                  {{ currentStage ? __(currentStage.legend) : __('Related Issues') }}
                %i.has-tooltip.fa.fa-question-circle{ "data-placement" => "top", title: _("The collection of events added to the data gathered for that stage."), "aria-hidden" => "true" }
              %li.total-time-header
                %span.stage-name
                  {{ __('Total Time') }}
                %i.has-tooltip.fa.fa-question-circle{ "data-placement" => "top", title: _("The time taken by each data entry gathered by that stage."), "aria-hidden" => "true" }
        .stage-panel-body
          %nav.stage-nav
            %ul
              %li.stage-nav-item{ ':class' => '{ active: stage.active }', '@click' => 'selectStage(stage)', "v-for" => "stage in state.stages" }
                .stage-nav-item-cell.stage-name
                  {{ stage.title }}
                .stage-nav-item-cell.stage-median
                  %template{ "v-if" => "stage.isUserAllowed" }
                    %span{ "v-if" => "stage.value" }
                      {{ stage.value }}
                    %span.stage-empty{ "v-else" => true }
                      {{ __('Not enough data') }}
                  %template{ "v-else" => true }
                    %span.not-available
                      {{ __('Not available') }}
          .section.stage-events
            %template{ "v-if" => "isLoadingStage" }
              = icon("spinner spin")
            %template{ "v-if" => "currentStage && !currentStage.isUserAllowed" }
              = render partial: "projects/cycle_analytics/no_access"
            %template{ "v-else" => true }
              %template{ "v-if" => "isEmptyStage && !isLoadingStage" }
                = render partial: "projects/cycle_analytics/empty_stage"
              %template{ "v-if" => "state.events.length && !isLoadingStage && !isEmptyStage" }
                %component{ ":is" => "currentStage.component", ":stage" => "currentStage", ":items" => "state.events" }

