- title = _('Jira Issue Import')
- page_title title
- breadcrumb_title title
- header_title _("Projects"), root_path

= render 'import/shared/errors'

- unless @project.import_state&.in_progress?
  %h3.page-title
    = icon 'issues', text: _('Import Issues From Jira')

  = form_tag import_project_import_jira_path(@project), method: :post do
    .form-group.row
      = label_tag :jira_project_key, _('From Project'), class: 'col-form-label col-md-2'
      .col-md-4
        = select_tag :jira_project_key, options_for_select(@jira_projects, ''), { class: 'select2' }
    .form-actions
      = submit_tag _('Import Issues'), class: 'btn btn-success'
      = link_to _('Cancel'), project_issues_path(@project), class: 'btn btn-cancel'
- else
  %h3.page-title
    = icon 'issues', text: _('Import in progress')
