- if ::Gitlab::CurrentSettings.allow_group_owners_to_manage_ldap
  %section.ldap-group-links
    = form_for(group, url: group_ldap_settings_url(group), method: :put) do |f|
      .form-holder
        .form-group.row
          .col-sm-8
            .form-check
              = f.check_box :unlock_membership_to_ldap, class: 'form-check-input'
              = f.label :unlock_membership_to_ldap, class: 'form-check-label' do
                = _('Allow owners to manually add users outside of LDAP')
          .col-sm-2
            = f.submit _('Save'), class: 'btn btn-success qa-save'

