- @can_bulk_update = false

- page_title _("Service Desk")

- content_for :breadcrumbs_extra do
  = render "projects/issues/nav_btns", show_export_button: false, show_rss_button: false

- support_bot_attrs = UserSerializer.new.represent(User.support_bot).to_json

%div{ class: "js-service-desk-issues service-desk-issues", data: { support_bot: support_bot_attrs } }
  .top-area
    = render 'shared/issuable/nav', type: :issues
    .nav-controls.d-block.d-sm-none
      = render "projects/issues/nav_btns", show_feed_buttons: false, show_import_button: false, show_export_button: false

  - if @issues.present?
    = render 'shared/issuable/search_bar', type: :issues
    = render 'service_desk_info_content'

  - if Feature.enabled?(:vue_issuables_list, @project)
    .js-issuables-list{ data: { endpoint: "#{expose_url(api_v4_projects_issues_path(id: @project.id))}?author_id=#{User.support_bot.id}",
      'can-bulk-edit': @can_bulk_update,
      'empty-svg-path': image_path('illustrations/issues.svg'),
      'sort-key': @sort } }
  - else
    .issues-holder
      = render 'projects/issues/issues', empty_state_path: 'service_desk_info_content'
