%p
  = s_('AdminUsers|Approving a user will:')
%ul
  %li
    = s_('AdminUsers|Activate their account')
  %li
    = s_('AdminUsers|Confirm their email address')
  %li
    = s_('AdminUsers|Add them to projects or groups they are currently invited to')

%p
  = s_('AdminUsers|Approved users can:')
%ul
  %li
    = s_('AdminUsers|Log in')
  %li
    = s_('AdminUsers|Access Git repositories')
  %li
    = s_('AdminUsers|Access the API')
  %li
    = s_('AdminUsers|Be added to groups and projects')
