- add_to_breadcrumbs _("Security Dashboard"), project_security_dashboard_index_path(@project)
- breadcrumb_title "Vulnerabilities"
- page_title "Vulnerabilities"

.issue-details.issuable-details
  .detail-page-description.content-block
    %h2.title= "Vulnerabilities"

  .ci-table.js-security-dashboard-table
    .gl-responsive-table-row.table-row-header.vulnerabilities-row-header.px-2{:role => "row"}
      .table-section.section-5{:role => "rowheader"} State
      .table-section.section-10.ml-md-2{:role => "rowheader"} Severity
      .table-section.flex-grow-1{:role => "rowheader"} Description

    -# TODO: Empty state
    - @vulnerabilities.each do |vulnerability|
      .gl-responsive-table-row.vulnerabilities-row.p-2
        .table-section.section-5
          .table-mobile-header{:role => "rowheader"} State
          .table-mobile-content.text-capitalize= vulnerability.state
        .table-section.section-10.ml-md-2
          .table-mobile-header{:role => "rowheader"} Severity
          .table-mobile-content
            .severity-badge{class: "severity-badge-#{vulnerability.severity}"}= vulnerability.severity
        .table-section.flex-grow-1
          .table-mobile-header{:role => "rowheader"} Description
          .table-mobile-content.vulnerability-info.text-truncate
            = link_to vulnerability.title, vulnerability_path(vulnerability), :class => "text-body"
            - if vulnerability.finding
              %br
              %span.text-muted.small
                = vulnerability.finding.description

  = paginate @vulnerabilities, theme: "gitlab"