- @content_class = "limit-container-width" unless fluid_layout
- add_to_breadcrumbs _("Vulnerability List"), project_security_vulnerabilities_path(@project)
- breadcrumb_title @vulnerability.id
- page_title @vulnerability.title
- page_description @vulnerability.description

#js-vulnerability-management-app{ data: vulnerability_data(@vulnerability, @pipeline) }

.issue-details.issuable-details
  .detail-page-description
    %h2.title= @vulnerability.title
    .description
      .md
        - location = @vulnerability.finding.location
        %h3= "Description"
        %p= @vulnerability.finding.description
        %ul
          %li= _("Severity: %{severity}") % { severity: @vulnerability.severity }
          %li= _("Confidence: %{confidence}") % { confidence: @vulnerability.confidence }
          %li= _("Report Type: %{report_type}") % { report_type: @vulnerability.report_type }

          - if location['image']
            %li= _("Image: %{image}") % { image: location['image'] }

          - if location['operating_system']
            %li= _("Namespace: %{namespace}") % { namespace: location['operating_system'] }

        - if location['file']
          %h3= _('Location')
          %ul
            %li
              - link_text = "#{location['file']}:#{location['start_line']}"
              - offset = location['start_line'] ? "#L#{location['start_line']}" : ''
              - branch = @vulnerability.finding.pipelines&.last&.sha || @vulnerability.project.default_branch
              = _("File:")
              %a{ href: project_blob_path(@project, tree_join(branch, location['file'])) + offset,
                target: '_blank', rel: 'noopener noreferrer' }= link_text
            - if location['class']
              %li= _("Class: ") + location['class']
            - if location['method']
              %li
                = _("Method:")
                %code= location['method']

        - if @vulnerability.finding.links.any?
          %h3= _("Links")
          %ul
            - @vulnerability.finding.links.each do |link|
              %li
                %a{ :href=>link["url"], target: "_blank", rel: 'noopener noreferrer' }= link["url"]

        - if @vulnerability.finding.identifiers.any?
          %h3= _("Identifiers")
          %ul
            - @vulnerability.finding.identifiers.each do |identifier|
              %li
                %a{ :href=>identifier.url, target: "_blank", rel: 'noopener noreferrer' }= identifier.name

#js-vulnerability-footer{ data: vulnerability_data(@vulnerability, @pipeline) }
