- @content_class = "limit-container-width" unless fluid_layout
- add_to_breadcrumbs _("Vulnerability List"), project_security_vulnerabilities_path(@project)
- breadcrumb_title @vulnerability.id
- page_title @vulnerability.title
- page_description @vulnerability.description
- finding = @vulnerability.finding
- location = finding.location

#js-vulnerability-header{ data: vulnerability_data(@vulnerability, @pipeline) }

.issue-details.issuable-details
  .detail-page-description.p-0.my-3
    %h2.title= @vulnerability.title
    .description
      .md
        %h3= "Description"
        %p= finding.description
        %ul
          %li= _("Severity: %{severity}") % { severity: @vulnerability.severity }
          %li= _("Confidence: %{confidence}") % { confidence: @vulnerability.confidence }
          %li= _("Report Type: %{report_type}") % { report_type: @vulnerability.report_type }


          - if location['image']
            %li= _("Image: %{image}") % { image: location['image'] }

          - if location['operating_system']
            %li= _("Namespace: %{namespace}") % { namespace: location['operating_system'] }

        - if location['file']
          %h3= _('Location')
          %ul
            %li
              = _('File:')
              = vulnerability_file_link(@vulnerability)
            - if location['class']
              %li
                = _('Class:')
                = location['class']
            - if location['method']
              %li
                = _('Method:')
                %code= location['method']

        - if finding.links.any?
          %h3= _('Links')
          %ul
            - finding.links.each do |link|
              %li= link_to link['url'], link['url'], target: '_blank', rel: 'noopener noreferrer', 'aria-label': _('Third Party Advisory Link'), title: link['url']

        - if finding.identifiers.any?
          %h3= _('Identifiers')
          %ul
            - finding.identifiers.each do |identifier|
              %li= link_to identifier.name, identifier.url, target: '_blank', rel: 'noopener noreferrer'

#js-vulnerability-footer{ data: vulnerability_data(@vulnerability, @pipeline) }
